{% extends "accounts/base.html" %}

{% block interface %}
    {% for account in accounts %}
	<div class="account">
	    <span class="name">{{ account.name }}</span>
	    <span class="balance">{{ account.balance|stringformat:".2f" }}
		</span>
	    <a href="/expenses/add/{{ account.id }}/">Add Expense</a>
	    {% if account.expenses %}
		{% for expense in account.expenses %}
		<div class="posting">
		    <span class="date">{{ expense.date }}</span>
		    <span class="name">{{ expense.name }}</span>
		    <span class="amount">{{ expense.amount|stringformat:".2f" }}
			</span>
		</div>
		<div class="total-result">
		    <span class="total-label">Total:</span>
		    <span class="amount">{{ expense.total }}</span>
		</div>
		{% endfor %}
	    {% else %}
		<p class="info">You don't have any expenses yet.</p>
	    {% endif %}
	</div>
    {% endfor %}
{% endblock %}

