.budget {
    position: relative;
}

.account-summary {
    position: relative;
    background-color: #DBE2F1;
}

.running-balance {
    position: absolute;
    right: 5px;
}

.balance-name {
    position: relative;
    left: 20%;
}

